
data/1990/lysimeter/lys1.txt

data/1990/lysimeter/lys2.txt

data/1990/lysimeter/lys3.txt

data/1990/lysimeter/lys4.txt

data/1990/lysimeter/lys5.txt

data/1990/lysimeter/lys6.txt

data/1990/meteo/meteoData.txt

data/2009/lysimeter/2009_lysimeter_01.txt

data/2009/lysimeter/2009_lysimeter_02.txt

data/2009/lysimeter/2009_lysimeter_03.txt

data/2009/lysimeter/2009_lysimeter_04.txt

data/2009/lysimeter/2009_lysimeter_05.txt

data/2009/lysimeter/2009_lysimeter_06.txt

data/2009/lysimeter/2009_lysimeter_07.txt

data/2009/lysimeter/2009_lysimeter_08.txt

data/2009/lysimeter/2009_lysimeter_09.txt

data/2009/lysimeter/2009_lysimeter_10.txt

data/2009/lysimeter/2009_lysimeter_11.txt

data/2009/lysimeter/2009_lysimeter_12.txt

data/2009/meteo/2009_meteodata_data.txt

data/2009/meteo/2009_meteodata_legend.txt

data/2010/lysimeter/2010_lysimeter_01.txt

data/2010/lysimeter/2010_lysimeter_02.txt

data/2010/lysimeter/2010_lysimeter_03.txt

data/2010/lysimeter/2010_lysimeter_04.txt

data/2010/lysimeter/2010_lysimeter_05.txt

data/2010/lysimeter/2010_lysimeter_06.txt

data/2010/lysimeter/2010_lysimeter_07.txt

data/2010/lysimeter/2010_lysimeter_08.txt

data/2010/lysimeter/2010_lysimeter_09.txt

data/2010/lysimeter/2010_lysimeter_10.txt

data/2010/lysimeter/2010_lysimeter_11.txt

data/2010/lysimeter/2010_lysimeter_12.txt

data/2010/meteo/2010_meteodata_data.txt

data/2010/meteo/2010_meteodata_legend.txt

data/2011/lysimeter/2011_lysimeter_01.txt

data/2011/lysimeter/2011_lysimeter_02.txt

data/2011/lysimeter/2011_lysimeter_03.txt

data/2011/lysimeter/2011_lysimeter_04.txt

data/2011/lysimeter/2011_lysimeter_05.txt

data/2011/lysimeter/2011_lysimeter_06.txt

data/2011/lysimeter/2011_lysimeter_07.txt

data/2011/lysimeter/2011_lysimeter_08.txt

data/2011/lysimeter/2011_lysimeter_09.txt

data/2011/lysimeter/2011_lysimeter_10.txt

data/2011/lysimeter/2011_lysimeter_11.txt

data/2011/lysimeter/2011_lysimeter_12.txt

data/2011/meteo/2011_meteodata_data.txt

data/2011/meteo/2011_meteodata_legend.txt

data/2012/lysimeter/2012_lysimeter_01.txt

data/2012/lysimeter/2012_lysimeter_02.txt

data/2012/lysimeter/2012_lysimeter_03.txt

data/2012/lysimeter/2012_lysimeter_04.txt

data/2012/lysimeter/2012_lysimeter_05.txt

data/2012/lysimeter/2012_lysimeter_06.txt

data/2012/lysimeter/2012_lysimeter_07.txt

data/2012/lysimeter/2012_lysimeter_08.txt

data/2012/lysimeter/2012_lysimeter_09.txt

data/2012/lysimeter/2012_lysimeter_10.txt

data/2012/lysimeter/2012_lysimeter_11.txt

data/2012/lysimeter/2012_lysimeter_12.txt

data/2012/meteo/2012_meteodata_data.txt

data/2012/meteo/2012_meteodata_legend.txt

.DS_Store
